@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

body{
    background-color: #201b2c;
}

.box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    

}

.login-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}
.login-banner .userLog{
    width: 40vw;
   
}
.banner-titulo{
    color: #F0FDA0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
}

 


.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 900px;
    height: 100vh;
    padding: 8px;

}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius:  20px ;
    box-shadow:  0px 10px 40px #00000056;
   
}
.card-titulo{
    color: #F0FDA0;
    font-family: 'Poppins';
    font-weight: 800;
    
}
.form{
    width: 100%;
    max-width: 500px;
    margin-bottom: 40px;

}
.box-input label{
    font-weight: 400;
    font-family: 'Poppins';
    color: #ffff;
    margin: 5px;
}
.box-input{
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
     margin-bottom: 10px;
}
.box-input input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 1em;
    box-shadow:  0px 10px 40px #00000056;
  
}
.box-input input::placeholder{
    color: #f0ffff94;
}
.box-input input:focus{
    background-color: #a0aab4;
    
}

.btn-login{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 0px;
    margin-top: 25px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    background: #F0FDA0;
    cursor:  pointer;
    box-shadow: 0 10px 40px -12px #F0FDA0;
    
}


@media only screen and (max-width:950px) {
    .login-form{
        width: 50%;
       
    }
    .card-login{
        width: 90%;
    }

}
@media only screen and (max-width:600px) {

    
    .box-login{
       flex-direction: column;
       padding: 8;
      

    }
    .banner-titulo{
        display: none;
    }
    .login-banner{
        width:100%;
        height: auto;
    }
    .login-banner .userLog{
        
        width: 60vw;
        padding-top: 20px
    }
    .login-form{
        width: 100%;
        margin-bottom: 20px;
        
      
    }
    .card-login{
        width: 90%;
    }
   
}