div{
    min-width:500px;
    max-width: 1144x;
    padding: 50px;
    background: #303030;

}
form{
    min-width:250px;
    max-width: 500px ;

    padding: 50px;
    border: 1px solid black;
    border-radius: 20px;
    background: #fff;
    color: #303030;
    margin: 0 auto;
    
}